* {
    color: #1e1e1e;
}

@font-face {
    font-family: 'Virgil';
    src: url('fonts/virgil.woff2') format('woff2');

}

body {
    font-family: 'Virgil', sans-serif;
}

.scribbled-border {
    border: 10px solid transparent;
    padding: 0px;
    width: fit-content;
    text-align: center;
    position: relative;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><path d="M2,2 Q10,5 18,2 T38,2 M2,38 Q10,35 18,38 T38,38 M2,2 Q5,10 2,18 T2,38 M38,2 Q35,10 38,18 T38,38" stroke="black" fill="none" stroke-width="1.4" /><path d="M4,4 Q12,7 20,4 T36,4 M4,36 Q12,33 20,36 T36,36 M4,4 Q7,12 4,20 T4,36 M36,4 Q33,12 36,20 T36,36" stroke="black" fill="none" stroke-width="1" /></svg>') 20;
}

.greenUL {
    position: relative;
}

.greenUL:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: solid 3px green;
    left: 0;
    bottom: -5px;
    border-radius: 70%;
    height: 15px;
}